<footer class="site-footer">
    <div class="wrap">
        <div class="footer-col-1 column">
            <div class="github">
            <a href="http://www.linkedin.com/in/SilanChen"><img src="{{ site.img_url }}/about/linkedin-icon.png" width="24" height="24"></a>
           <a href="https://www.facebook.com/profile.php?id=100006754483664"><img src="{{ site.img_url }}/about/fb-icon.png" width="24" height="24"></a>
           <a href="https://github.com/chenlanlan"><img src="{{ site.img_url }}/about/github-10-512.gif" 
               width="24" height="24"></a>
            <a href="http://www.weibo.com/2169137783/profile?topnav=1&wvr=6"><img src="{{ site.img_url }}/about/weibo-icon.png" 
               width="24" height="24"></a>
            </div>
        </div>
        <div class="footer-col-2">
            <p>© 2015 by <font style="color:#f44336">❤ </font> <a href="http://github.com/chenlanlan">Silan Chen</a></p>
        </div>
        <!-- <div class="footer-col-3 column">
      <p class="text">{{ site.description }}</p>
    </div> -->
    </div>
    <div class="scroll-top"><i class="fa fa-arrow-circle-up"></i></div>
</footer>
