<header>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- Bootstrap -->
<link href="{{ site.baseurl }}/assests/css/bootstrap.min.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<style type="text/css">
    body{padding:50px 0 0 0;}
    nav{ padding: 8px;}
</style>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
         <span class="sr-only">Toggle Navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
    </button>
      <a class="navbar-brand" href="{{ site.baseurl }}/"><strong> <font style="color:#39B3D7;font-size: 30px" >S</font><font style="color:#ED9C28;font-size: 30px">i</font><font style="color:#47A447;font-size: 30px">L</font><font style="color:#D9534F;font-size: 30px">a</font><font style="color:#3276B1;font-size: 30px">n</font><font style="color:#39B3D7;font-size: 30px" >'</font><font style="color:#ED9C28;font-size: 30px">s</font>
   </div>
   
   <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav navbar-right">
        {% for nav in site.navigations %}
            {% if nav.title %}
        <li><a href="{{ nav.href }}">{{ nav.title }}</a></li>
            {% endif %}
            {% endfor %}
         </li>
      </ul>
   </div>
  </div>

</nav>
</header>
